.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
  /* padding: 20px; */
  width: 960px;
  /* background: var(--surface-medium); */
  margin: 32px auto;
  /* max-height:100%;
  max-width:100%; */
}
