@if (photo) {
  <div class="container">
    <div class="color">
      <div class="top">
        <p>#{{id}}</p>
        <p class="star">⭐</p>
      </div>
      <div class="base-1"></div>
      <div class="bottom-1"></div>
    </div>
    <div class="info">
      <div class="image">
        <img [src]="photo" />
      </div>
      <div class="name">
        @for (type of types; track type) {
          <span class="span-1">{{type}}</span>
        }
        <h2>{{name.charAt(0).toUpperCase() + name.slice(1)}}</h2>
      </div>
    </div>
  </div>
} @else {
  <app-skeleton />
}
