footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 180px;
  background: #5f2c82;
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);
  background: linear-gradient(to right, #49a09d, #5f2c82);

  h3, p {
    font-family: sans-serif;
    color: white;
  }

  img {
    width: 10%;
    /* height: 10%; */
    margin: -10px 0 -5px 0;
  }
}
