.pokemon-card {
  background-color: cadetblue;
  height: 300px;
  width: 200px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 16px;
  box-shadow: 8px 8px 5px grey;

  p {
    font-family: "Roboto", sans-serif;
  }

  img {
    max-height:100%;
    max-width:100%;
  }

  h2 {
    font-family: "Roboto", sans-serif;
  }
}
