.header {
  display: flex;
  justify-content: space-between;
  background: lightslategray;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  color: midnightblue;
}

.header .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

.header .filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
