@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
	/* padding: 0;
	margin: 0; */
	border: 0;
	outline: 0;
	/* list-style: none;
	font-family: 'Roboto', Arial, Helvetica, sans-serif; */

	/* button {
		background: none;
	} */
}

:root{
	--surface-light: #f0f0f0;
	--surface-medium: #e2e2e2;
	--surface-dark: #c2c2c2;
}

:root .dark{
	--surface-light: #4d4d4d;
	--surface-medium: #282828;
	--surface-dark: #212121;
}

body {
	padding: 0;
	margin: 0;
	background: var(--surface-medium);
}

header, footer {
	background: var(--surface-dark);
}

.background-normal {
	background-color: #acb4b7;
}

.background-fire {
	background-color: #ff7f7f;
}

.background-water {
	background-color: lightblue;
}

.background-grass {
	background-color: lightgreen;
}

.background-electric {
	background-color: #f6dc85;
}

.background-ice {
	background-color: #9cdacd;
}

.background-fighting {
	background-color: #f36d56;
}

.background-poison {
	background-color: #be98d5;
}

.background-ground {
	background-color: #e19f87;
}

.background-flying {
	background-color: #aebde4;
}

.background-psychic {
	background-color: #fa9c9d;
}

.background-bug {
	background-color: #add080;
}

.background-rock {
	background-color: #d3c8a8;
}

.background-ghost {
	background-color: #5e71a7;
}

.background-dragon {
	background-color: #82a8fa;
}

.background-dark {
	background-color: #505050;
}

.background-steel {
	background-color: #90acb8;
}

.background-fairy {
	background-color: #efa6b6;
}
